.App {
  text-align: center;
}

body {
  background-color: #b2beb5;
}

.disclaimerBox {
  min-height: 100px;
  min-width: 300px;
  height: 40%;
  width: 40%;
  background-color: #366c97;
  top:50%;
  left: 50%;
  position: fixed;
  transform:translate(-50%, -50%);
  border-width: 5px;
  border-style: inset;
  border-color: #4169e1;
}

.center {
  display: block;
  margin: 5% auto;
  width: 80%;
}

.loginBtn {
  background-color: #194162
}

h2 {
  margin: 2px auto;
}

.textColor {
  color: #698cff;
}

/* playlistTagColor was being over-ruled by this. So i took the default "inherit" property of color and changed it to the color of choice */
a:not([href]):not([tabindex]) {
  color: #c0c0c0;
}

a {
  margin: 0;
}

.dataTag {
  padding: 10px;
  margin: 4px 0 4px 0;
  display: inline-block;
  max-width: 80%;
}

.contentContainer {
  margin: 12px 0 0 0;
  background-color: #183f7a;
  width: 60%;
  text-align: center;
}

.masterContainer {
  background-color: #183f7a;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  /* filter: blur(20px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}