.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #b2beb5;
}

.disclaimerBox {
  min-height: 100px;
  min-width: 300px;
  height: 40%;
  width: 40%;
  background-color: #366c97;
  top:50%;
  left: 50%;
  position: fixed;
  transform:translate(-50%, -50%);
  border-width: 5px;
  border-style: inset;
  border-color: #4169e1;
}

.center {
  display: block;
  margin: 5% auto;
  width: 80%;
}

.loginBtn {
  background-color: #194162
}

.textColor {
  color: #698cff;
}